<?xml version="1.0" encoding="UTF-8"?>
<phpunit
     backupStaticAttributes="false"

     cacheTokens="false"
     colors="true"
     convertErrorsToExceptions="true"
     convertNoticesToExceptions="true"
     convertWarningsToExceptions="true"
     forceCoversAnnotation="false"
     mapTestClassNameToCoveredClassName="false"
     printerClass="\PHPUnit\TextUI\ResultPrinter"

     processIsolation="false"
     stopOnError="false"
     stopOnFailure="false"
     stopOnIncomplete="false"
     stopOnSkipped="false"
     testSuiteLoaderClass="PHPUnit\Runner\StandardTestSuiteLoader"

     strict="false"
     verbose="false"
    >

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
                <directory suffix=".php">examples</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>